<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/script.js"></script>

    <title>Welcome! - Tic Tac Toe AI</title>
</head>

<body>
    <!-- Introduction part -->
    <div class="container">
        <h2> Welcome! </h2>
        <h4> This is my personal Tic Tac Toe project. I have created Tic Tac Toe AI based on tutorial <a href="http://neverstopbuilding.com/minimax" target="_blank">here</a>.
            <br> You can play, enjoy yourself, or even create one!
            <br>
            <br> NB : If you like this font, check it out <a href="https://www.fontspring.com/fonts/brownfox/geometria/geometria-light" target="_blank">here</a>. Credits goes to <a href="https://www.fontspring.com/foundry/brownfox" target="_blank">Brownfox</a> as author.
        </h4>
    </div>

    <!-- Line breaks -->
    <br>
    <br>

    <div class="container" id="game">
        <!-- Select Pocky or Donut -->
        <div class="select-div">
            <a id="Pocky" href="#"><img class="pocnut" src="~/images/Pocky.png"></a>
            <br>
            <h4>Pocky</h4>
        </div>
        <div class="select-div">
            <a id="Donut" href="#"><img class="pocnut" src="~/images/Donut.png"></a>
            <br>
            <h4>Donut</h4>
        </div>
    </div>
</body>

</html>