@font-face {
    /* Theme font */
    font-family: "Geometria Light";
    src: url("geometria-light.otf");
}

div.container {
    /* All containers, align center */
    text-align: center;
}

h2,
h4 {
    /* All headings, font : Theme font */
    font-family: "Geometria Light";
}

a {
    /* All links : remove text decoration (underline, etc) */
    text-decoration: none;
}

a:link,
a:visited,
a:hover {
    /* Unvisited links, visited links, link on hover, remove text decoration */
    text-decoration: none;
}

div.select-div {
    /* Div for each selection */
    display: inline-block;
}

img.pocnut {
    /* Pocky and Donut images */
    height: 128px;
    width: 128px;
}

div.grid-container {
    /* Grid container, remove space between inline elements */
    font-size: 0;
}

div.grid {
    /* Grid elements, inline-block */
    display: inline-block;
    height: 128px;
    width: 128px;
}

div.right {
    /* Grid elements, right border */
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
}

div.bottom {
    /* Grid elements, bottom border */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

button.restart {
    /* Play again button */
    background-color: #5ef2a8;
    color: white;
    font-family: "Geometria Light";
    font-size: 16px;
}

button.restart:hover {
    /* Play again button on hover */
    color: white;
}