@use 'text';
@use 'cursor';


[v-cloak] {
    visibility: hidden;
}

.x-top-container {
    padding: 10px 0 0 0; 
}

.x-middle-container {
    padding: 0 0 10px 0;
}

.x-img-container {
    max-width: 300px;
}
